footer {
    @include myFlex(column, flex-start, flex-start);
    background-color: $text-secondColor;
    padding: 22px $safeZone-sidePage; 
    line-height: 1.7;
    a {
        @extend %main-text-contrast;
    }
    
    @media screen and (min-width:$desktop) {
        @include myFlex(row, flex-end, center);
        padding-right: $safeZone-sidePage;
        gap: 45px;
    }    
}

.footer__logo .logo {
    width: 100px;
    @include myFlex;
    margin-bottom: 15px;
    
    @media screen and (min-width:$desktop) {
        margin: auto;
    }
}

.footer__partnership, 
.footer__legal {
    @include myFlex(column, center, flex-start);
    
    @media screen and (min-width:$desktop) {
        @include myFlex(row, center, center);
        gap: 15px;
    }
}

@media screen and (min-width:$desktop) {
    .footer__logo {order:3;}
    .footer__partnership {order:1;}
    .footer__legal {order: 2;}
}

