.space {
    height: 60vh;
}

footer {
    background-color: $second-color;
    padding: 22px 25px; 
    a {
        @extend %footer-text;
    }
}

.footer__logo {
    margin-bottom: 15px;
    img {
        width: 100px;
    }
}
