header {    
    @include myFlex;
    height: 65px;
    width: 100vw;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba($color: black, $alpha: 0.15);
    z-index: 2;

    .fa-arrow-left {
        position: absolute;
        left: 20px;
        color: $text-secondColor;
    }

    .logo {
        height: 30px;
        width: auto;
    }
}
