header {
    @include myFlex(column);
}

.header__logo, 
.header__localisation {
    width: 100vw;
    @include myFlex;
}

.header__logo {
    z-index: 1;
    height: 63px;
    background-color: white;
    box-shadow: 0px 2px 4px 0px $shadow-color;

    img {
        height: 29px;
    }
}

.header__localisation {
    height: 50px;
    background-color: $form-color;

    .fa-solid {
        color: $second-color; 
    }

    input {
        @extend %input-text;
        width: 130px;
        border: none; 
        background-color: inherit;
        padding: 2px 10px;
        margin: 0 5px;
    }
}