@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F7F7;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.localisation__input, .step__number, footer a,
p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #353535;
}

.step__number, footer a {
  color: white;
}

h1 {
  color: black;
  font-family: "Shrikhand", serif;
  font-size: 28px;
}

h2 {
  color: black;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 25px;
}

h3 {
  color: black;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #353535;
  line-height: 1.5;
}

.button {
  font-weight: 500;
  font-size: 16px;
}

.hero__new {
  font-size: 14px;
  font-weight: 500;
}

.content__text__title {
  font-size: 18px;
  font-weight: 700;
}

.content__text__subtitle {
  font-size: 17px;
  font-weight: 300;
}

.card__icon {
  font-size: 25px;
}

.dishCard__content__title {
  font-size: 18px;
  font-weight: 500;
}

.dishCard__content__subtitle {
  font-size: 15px;
  font-weight: 300;
}

.dishCard__price {
  font-size: 15px;
  font-weight: 700;
  color: #353535;
}

.loader {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: exit-loader 10ms 3000ms forwards;
}
@keyframes exit-loader {
  to {
    z-index: -2;
  }
}
.loader .loader__backLoader {
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 1;
  animation: exit-animation 1000ms 2000ms forwards;
  animation-timing-function: cubic-bezier(0, 0, 1, 0.2);
}
@keyframes exit-animation {
  0%, 20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader .loader__progress {
  width: 80%;
  max-width: 500px;
  height: 15px;
  position: absolute;
  bottom: 5vh;
  border: solid 1px #9356DC;
  border-radius: 15px;
  overflow: hidden;
  padding: 2px;
  animation: exit-animation 1000ms 2000ms forwards ease-in;
}
.loader .loader__progress__bar {
  width: 0;
  height: 100%;
  border-radius: 20px;
  background-color: #FF79DA;
  transform-origin: left;
  animation: progressBar 1500ms forwards cubic-bezier(0.7, 0, 0.59, 1);
}
@keyframes progressBar {
  0% {
    width: 0;
    opacity: 0.5;
    background-color: #FF79DA;
  }
  15%, 20% {
    width: 12%;
  }
  40% {
    width: 46%;
  }
  52%, 60% {
    width: 75%;
  }
  70% {
    width: 79%;
  }
  100% {
    width: 100%;
    opacity: 1;
    background-color: #9356DC;
  }
}
.loader .loader__logo {
  display: inline-block;
  position: absolute;
  top: 40%;
  height: 12vw;
  max-height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  animation: logo-load 1500ms forwards, logo-move 1000ms 2000ms ease-in-out forwards;
}
@keyframes logo-move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-42vh) scale(0.2);
    opacity: 0;
  }
}
@keyframes logo-load {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.6;
  }
  52% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 100vw;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 2;
}
header .fa-arrow-left {
  position: absolute;
  left: 20px;
  color: #353535;
  font-size: 1.5em;
}
header .logo {
  height: 30px;
  width: auto;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #353535;
  padding: 22px 5vw;
  line-height: 1.7;
}
@media screen and (min-width: 1024px) {
  footer {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5vw;
    gap: 45px;
  }
}

.footer__logo .logo {
  width: 100px;
  margin-bottom: 15px;
}
@media screen and (min-width: 1024px) {
  .footer__logo .logo {
    margin: auto;
    display: flex;
    justify-content: center;
  }
}

.footer__partnership,
.footer__legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .footer__partnership,
  .footer__legal {
    flex-direction: row;
    gap: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__logo {
    order: 3;
  }
  .footer__partnership {
    order: 1;
  }
  .footer__legal {
    order: 2;
  }
}
.button {
  display: inline-block;
  min-width: 180px;
  border-radius: 25px;
  margin-top: 30px;
  padding: 15px 25px;
  text-align: center;
  color: white;
  background: linear-gradient(9deg, #9356DC, #FF79DA);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}
.button::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 25px;
  opacity: 0;
  background: linear-gradient(9deg, #985ede, #ff83dd);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-out;
}
.button:hover::after {
  opacity: 1;
}

.favoriteIcon {
  position: relative;
  padding: 0 30px;
}
.favoriteIcon .heart-full,
.favoriteIcon .heart-empty {
  position: absolute;
  top: 50%;
  left: 50%;
}
.favoriteIcon .heart-empty {
  color: #353535;
  transform: translate(-50%, -50%);
}
.favoriteIcon .heart-full {
  background: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}
.favoriteIcon input[type=checkbox] {
  display: none;
}
.favoriteIcon .favorite-checkbox {
  cursor: pointer;
}
.favoriteIcon input[type=checkbox]:checked + .favorite-checkbox .heart-full {
  animation: favoriteAnimation 300ms ease-in-out forwards;
}
@keyframes favoriteAnimation {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  60%, 80% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  70%, 100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.restaurantCard {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}
.restaurantCard:hover {
  transform: scale(1.01);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.restaurantCard:active {
  transition-duration: 100ms;
  transform: scale(0.99);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.restaurantCard .hero {
  height: 175px;
  width: 100%;
  display: block;
  position: relative;
}
.restaurantCard .hero__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurantCard .hero__new {
  height: 30px;
  width: 80px;
  background: #99E2D0;
  color: #2c9c81;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  right: 10px;
}
.restaurantCard .hero .nonVisible {
  display: none;
}
.restaurantCard .content {
  height: 77px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurantCard .content__text {
  width: 70%;
  flex: 1;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  padding-right: 0;
}
.restaurantCard .content__text__title, .restaurantCard .content__text__subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurantCard .content__icon {
  font-size: 1.8em;
}

.dishCard {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 70px;
  display: flex;
  width: 100%;
  cursor: pointer;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}
.dishCard input[type=checkbox] {
  display: none;
}
.dishCard__content {
  height: 100%;
  flex: 1;
  width: 50%;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}
.dishCard__content__title, .dishCard__content__subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dishCard__price {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 1.5;
  padding: 10px;
}
.dishCard__check {
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  color: white;
  font-size: 1.8em;
  transition: width 200ms ease-in-out;
}
.dishCard__check .fa-circle-check {
  transform: scale(0);
}
.dishCard:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.dishCard:hover .dishCard__check {
  width: 10px;
}
.dishCard input[type=checkbox]:checked ~ .dishCard__check {
  animation: check-animation 350ms ease-in-out forwards;
}
.dishCard input[type=checkbox]:checked ~ .dishCard__check .fa-circle-check {
  animation: check-spin 200ms 150ms ease-in-out forwards;
}
@keyframes check-animation {
  0% {
    width: 10px;
  }
  100% {
    width: 60px;
  }
}
@keyframes check-spin {
  0% {
    transform: scale(0) rotate(0);
  }
  80% {
    transform: scale(1.2) rotate(1turn);
  }
  100% {
    transform: scale(1) rotate(1turn);
  }
}

.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: #dedede;
}
.localisation__icon {
  color: #353535;
}
.localisation__input {
  outline: none;
  width: 130px;
  border: none;
  background-color: inherit;
  margin: 0 10px;
}

.intro {
  padding: 45px 30px;
  text-align: center;
}

.function-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}
.function-container .functionning {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 45px 5vw;
}
@media screen and (min-width: 1104px) {
  .function-container .functionning {
    max-width: 1024px;
    padding-left: 0;
    padding-right: 0;
  }
}
.function-container .functionning__steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (min-width: 768px) {
  .function-container .functionning__steps {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .function-container .functionning__steps {
    gap: 40px;
  }
}

.step {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 72px;
  border-radius: 20px;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding-right: 15px;
  padding-left: 25px;
  position: relative;
}
.step__number {
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  transform-origin: bottom;
}
.step__icon {
  width: 20px;
  display: flex;
  justify-content: center;
  color: #353535;
  margin-right: 15px;
}
.step .fa-store {
  color: #9356DC;
}
.step:hover {
  animation: functionCard-anim 300ms ease-in-out forwards;
}
@keyframes functionCard-anim {
  to {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    background-color: #e4d5f6;
  }
}
.step:hover .step__number {
  animation: functionNumber-anim 1500ms infinite;
}
@keyframes functionNumber-anim {
  0% {
    transform: translateX(-50%) translateY(0) scale(1, 1);
  }
  7% {
    transform: translateX(-50%) translateY(0) scale(1.3, 0.8);
  }
  8% {
    transform: translateX(-50%) translateY(0) scale(0.7, 1.2);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  27% {
    transform: translateX(-50%) translateY(-40px) scale(1);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  28% {
    transform: translateX(-50%) translateY(-40px) scale(1);
  }
  29% {
    transform: translateX(-50%) translateY(-40px) scale(1);
    animation-timing-function: cubic-bezier(1, 0, 1, 0.5);
  }
  48% {
    transform: translateX(-50%) translateY(0px) scale(1, 1);
    animation-timing-function: cubic-bezier(1, 0, 1, 0.5);
  }
  49% {
    transform: translateX(-50%) translateY(0) scale(1.5, 0.4);
  }
  56% {
    transform: translateX(-50%) translateY(0) scale(0.8, 1.2);
  }
  63% {
    transform: translateX(-50%) translateY(0) scale(1.1, 0.8);
  }
  70% {
    transform: translateX(-50%) translateY(0) scale(1, 1);
  }
}

.restaurants {
  width: 100vw;
  padding: 45px 5vw;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1104px) {
  .restaurants {
    max-width: 1024px;
    padding-left: 0;
    padding-right: 0;
  }
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .restaurants__cards {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 35px;
  }
}
.restaurants__cards .restaurantCard {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .restaurants__cards .restaurantCard {
    width: 48%;
  }
}

.mainRestaurant {
  background-color: white;
}
.mainRestaurant .hero__image {
  width: 100vw;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -40px;
}

.menu {
  width: 100%;
  max-width: 1024px;
  padding: 30px 5vw;
  background: #F7F7F7;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.menu__info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .menu__info {
    justify-content: center;
  }
}
.menu__info__icon {
  font-size: 1.8em;
}
.menu__content {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .menu__content {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .menu__content {
    width: 70%;
  }
}
.menu__content .content__category h3 {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
}
.menu__content .content__category h3::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.menu__content .content__category .cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menu__content .content__category .cards .dishCard {
  width: 100%;
}
.menu__order {
  margin-top: 30px;
  margin-bottom: 40px;
}

.content__category h3 {
  animation: dishCard-Anim;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.content__category .cards .dishCard:nth-child(1) {
  opacity: 0;
  animation-name: dishCard-Anim;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: calc(200ms * 1);
}
.content__category .cards .dishCard:nth-child(2) {
  opacity: 0;
  animation-name: dishCard-Anim;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: calc(200ms * 2);
}
.content__category .cards .dishCard:nth-child(3) {
  opacity: 0;
  animation-name: dishCard-Anim;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: calc(200ms * 3);
}
.content__category .cards .dishCard:nth-child(4) {
  opacity: 0;
  animation-name: dishCard-Anim;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: calc(200ms * 4);
}

@keyframes dishCard-Anim {
  0% {
    opacity: 0;
    transform: translateX(-110%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}