@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F7F7;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.localisation input, .functionning .step__number, footer a,
p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #353535;
}

.functionning .step__number, footer a {
  color: white;
}

h1 {
  color: black;
  font-family: "Shrikhand", serif;
  font-size: 28px;
}

h2 {
  color: black;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}

h3 {
  color: black;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #353535;
  line-height: 1.5;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
}

.card__subtitle {
  font-size: 17px;
  font-weight: 300;
}

.card__icon {
  font-size: 25px;
}

.dish__title {
  font-size: 18px;
  font-weight: 500;
}

.dish__subtitle {
  font-size: 15px;
  font-weight: 300;
}

.dish__price {
  font-size: 15px;
  font-weight: 700;
  color: #353535;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 100vw;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 2;
}
header .fa-arrow-left {
  position: absolute;
  left: 20px;
  color: #353535;
}
header .logo {
  height: 29px;
  width: auto;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #353535;
  padding: 22px 5vw;
  line-height: 1.7;
}
@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5vw;
    gap: 45px;
  }
}

.footer__logo .logo {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
@media screen and (min-width: 1024px) {
  .footer__logo .logo {
    margin: auto;
  }
}

.footer__partnership,
.footer__legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (min-width: 1024px) {
  .footer__partnership,
  .footer__legal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__logo {
    order: 3;
  }
  .footer__partnership {
    order: 1;
  }
  .footer__legal {
    order: 2;
  }
}
.button {
  display: inline-block;
  min-width: 220px;
  height: auto;
  border-radius: 25px;
  background: linear-gradient(9deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-top: 30px;
  padding: 15px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: white;
}
.button:hover {
  background: linear-gradient(9deg, #985ede 0%, #ff83dd 100%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.dish {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px;
}
.dish__content {
  padding-right: 15px;
}
.dish:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
}
.card__hero {
  position: relative;
}
.card__hero__image {
  width: 100%;
  height: 174px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__hero__new {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  padding: 10px 12px;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  color: #008766;
  font-weight: 500;
  font-size: 14px;
}
.card__content {
  padding: 15px 25px 20px 15px;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: #dedede;
}
.localisation .fa-solid {
  color: #353535;
}
.localisation input {
  width: 130px;
  border: none;
  background-color: inherit;
  margin: 0 5px;
}

.intro {
  padding: 45px 30px;
  text-align: center;
}
.intro .subtitle {
  margin-top: 15px;
}

.functionning {
  padding: 45px 5vw;
  background-color: white;
}
.functionning__steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 25px;
  margin-top: 25px;
}
.functionning .step {
  background-color: #F7F7F7;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 6px);
  height: 72px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  position: relative;
  padding: 0 35px;
}
.functionning .step__number {
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
}
.functionning .step__icon {
  color: #353535;
  margin-right: 20px;
}
.functionning .step .fa-store {
  color: #9356DC;
}

.restaurants {
  padding: 45px 5vw;
  display: flex;
  flex-direction: column;
}
.restaurants__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 25px;
}

.hero__image {
  width: 100vw;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainMenu {
  background-color: #F7F7F7;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  padding: 30px 5vw;
  position: relative;
  top: -40px;
}
.mainMenu .restaurantTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu h3 {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
}
.menu h3::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}

.dishes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.orderButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}