body {
    background-color: $background-color;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

