@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}


// ---- TYPOGRAPHY ------

$title-font: 'Shrikhand', serif;
$main-font: 'Roboto', sans-serif; 

%main-text, 
p {
    font-family: $main-font;
    font-weight: 500;
    font-size: 16px;
    color: $text-secondColor;
} 
%main-text-contrast {
    @extend %main-text;
    color: $text-mainColor-contrast;
}

h1 {
    color: $text-mainColor;
    font-family: $title-font;
    font-size: 28px;
}
h2 {
    color: $text-mainColor;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
}
h3 {
    color: $text-mainColor;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-transform: uppercase;
}
.subtitle {
    font-family: $main-font;
    font-weight: 300;
    font-size: 18px;
    color: $text-secondColor;
    line-height: 1.5;
}


.button {
    font-weight: 500;
    font-size: 16px;
    color: white;
}


// TYPO CARDS RESTAURANTS
.card__title {
    font-size: 18px;
    font-weight: 700;
}

.card__subtitle {
    font-size: 17px;
    font-weight: 300;
}

.card__icon {
    font-size: 25px;
}

// TYPO PLATS MENU 
.dishCard__content__title {
    font-size: 18px;
    font-weight: 500;
}

.dishCard__content__subtitle {
    font-size: 15px;
    font-weight: 300;
}

.dishCard__priceCheck__price {
    font-size: 15px;
    font-weight: 700;
    color: $text-secondColor;
}