@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}


// ---- TYPOGRAPHY ------

$title-font: 'Shrikhand', serif;
$main-font: 'Roboto', sans-serif; 

%main-text, 
p {
    font-family: $main-font;
    font-weight: 500;
    font-size: 16px;
    color: $second-color;
} 

%main-text-contrast {
    @extend %main-text;
    color: $main-color-contrast;
}

h2 {
    color: $main-color;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
}

.subtitle {
    font-family: $main-font;
    font-weight: 300;
    font-size: 18px;
    color: $second-color;
    line-height: 1.5;
}

.card__title {
    font-size: 18px;
}

.card__subtitle {
    font-size: 17px;
    font-weight: 300;
}

.card__icon {
    font-size: 25px;
}
