// LOCALISATION ///////////////////////
.localisation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50px;
    background-color: $form-color;

    &__icon {
        color: $text-secondColor; 
    }

    &__input {
        @extend %main-text;
        outline: none;
        width: 130px;
        border: none; 
        background-color: inherit;
        margin: 0 10px;
    }
} 

// INTRO ///////////////////////
.intro {
    padding: $safeZone-section 30px;
    text-align: center;
}


// FONCTIONNEMENT ///////////////////////
.function-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;

    .functionning {
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding: $safeZone-section $safeZone-sidePage;
        
        @include responsive($desktopPlus) {
            max-width: $desktop;
            padding-left: 0;
            padding-right: 0;
        }
        
        &__steps {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 25px;
            
            @include responsive($tablet) {
                flex-direction: row;
            }
            @include responsive($desktop) {
                gap: 40px;
            }
        }      
    }
}
    
.step {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 72px;
    border-radius: 20px;
    background: $background-color;
    box-shadow: $shadow-card-light;
    padding-right: 15px;
    padding-left: 25px;
    position: relative;

    &__number {
        $number-size: 24px; 
        width: $number-size;
        height: $number-size;
        background-color: $main-color;
        @extend %main-text-contrast;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;  
        transform: $translateX;
        transform-origin: bottom;
    }

    &__icon {
        width: 20px;
        display: flex;
        justify-content: center;
        color: $text-secondColor;
        margin-right: 15px;
    }
    .fa-store {
        color: $main-color;
    }

    // ANIMATION FONCTIONNING 
    &:hover {
        animation: functionCard-anim 300ms ease-in-out forwards;
        @keyframes functionCard-anim {
            to {
                box-shadow: $shadow-card-dark;
                background-color: lighten($main-color, 30%);
            }
        }
    
        .step__number {
            animation: functionNumber-anim $numberAnim-timing infinite;
        }
        @keyframes functionNumber-anim {
            0% {
                transform: $translateX translateY(0) scale(1, 1);
            }
            7% {
                transform: $translateX translateY(0) scale(1.3, 0.8);
            }
            8% {
                transform: $translateX translateY(0) scale(0.7, 1.2);
                animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            }
            27% {
                transform: $translateX translateY(-40px) scale(1);
                animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            }
            28% {
                transform: $translateX translateY(-40px) scale(1);
            }
            29% {
                transform: $translateX translateY(-40px) scale(1);
                animation-timing-function: cubic-bezier(1,0,1,0.5);  
            }
            48% {
                transform: $translateX translateY(0px) scale(1, 1);
                animation-timing-function: cubic-bezier(1,0,1,0.5);
            }
            49% {
                transform: $translateX translateY(0) scale(1.5, 0.4);
            }
            56% {
                transform: $translateX translateY(0) scale(.8, 1.2);
            }
            63% {
                transform: $translateX translateY(0) scale(1.1, .8);
            }
            70% {
                transform: $translateX translateY(0) scale(1, 1);
            }
        }
    }
}


// // RESTAURANTS ///////////////////////
.restaurants {
    width: 100vw;
    padding: $safeZone-section $safeZone-sidePage;
    display: flex;
    flex-direction: column;
    @include responsive($desktopPlus) {
        max-width: $desktop;
        padding-left: 0;
        padding-right: 0;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @include responsive($tablet) {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 35px;
        }

        .restaurantCard {
            width: 100%;
            @include responsive($tablet) {
                width: 48%;
            }
        }
    }
}