@import 'style.scss';

// HEADER


.header__logo {
    @extend %flex-center;
    height: 63px;
    width: 100vw;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); 
}


.localisation {
    @extend %flex-center;
    flex-direction: row;
    height: 50px;
    width: 100vw;

    .localisation__input {
        text-align: center;
    }

    .fa-solid {
        color: red;
    }

}