// LOCALISATION ///////////////////////
.localisation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50px;
    background-color: $form-color;

    &__icon {
        color: $text-secondColor; 
    }

    &__input {
        @extend %main-text;
        outline: none;
        width: 130px;
        border: none; 
        background-color: inherit;
        margin: 0 10px;
    }
} 

// INTRO ///////////////////////
.intro {
    padding: $safeZone-section 30px;
    text-align: center;
}


// FONCTIONNEMENT ///////////////////////
.functionning {
    padding: $safeZone-section $safeZone-sidePage;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;

    // gestion du fond blanc 
    &::before {
        content: "";
        background-color: white;
        position: absolute;
        top: 0;
        left: -100vw;
        width: 200vw;
        height: 100%;
        z-index: -10; 
    }

    &__steps {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;

        @include responsive($tablet) {
            flex-direction: row;
        }
        @include responsive($desktop) {
            gap: 40px;
        }
    }    
    
    @include responsive($desktopPlus) {
        max-width: $desktop;
        padding-left: 0;
        padding-right: 0;
    }
}

.step {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 72px;
    border-radius: 20px;
    background: $background-color;
    box-shadow: $shadow-card-light;
    padding-right: 15px;
    padding-left: 25px;
    position: relative;

    &__number {
        $number-size: 24px; 
        width: $number-size;
        height: $number-size;
        background-color: $main-color;
        @extend %main-text-contrast;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0; 
        transform: translateX(-50%);
        transform-origin: bottom; ///////////////// AJOUT VERSUS MAIN-BRANCH
    }

    &__icon {
        width: 20px;
        display: flex;
        justify-content: center;
        color: $text-secondColor;
        margin-right: 15px;
    }
    .fa-store {
        color: $main-color;
    }

    // ANIMATION FONCTIONNING 
    &:hover {
        animation: functionCard-anim 300ms ease-in-out forwards;
        
        @keyframes functionCard-anim {
            to {
                box-shadow: $shadow-card-dark;
                background-color: lighten($main-color, 30%);
            }
        }
    
        .step__number {
            animation: functionNumber-anim 1500ms infinite;
            animation-iteration-count: infinite;
        }
    
        @keyframes functionNumber-anim {
            // TEST1 - pas ouf // à perfectionner ! 
            0%, 20%, 50%, 80%, 100% {
                transform: translateX(-50%) translateY(0) scale(1, 1);
            }
        
            40% {
                transform: translateX(-50%) translateY(-30px) scale(1.1, .8);
            }
        
            60% {
                transform: translateX(-50%) translateY(-15px) scale(.9, 1.2);
            }
        }
    }
}


// // RESTAURANTS ///////////////////////
.restaurants {
    width: 100vw;
    padding: $safeZone-section $safeZone-sidePage;
    display: flex;
    flex-direction: column;
    @include responsive($desktopPlus) {
        max-width: $desktop;
        padding-left: 0;
        padding-right: 0;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @include responsive($tablet) {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 35px;
        }

        .restaurantCard {
            width: 100%;
            @include responsive($tablet) {
                width: 48%;
            }
        }
    }
}