.mainMenu {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__image {
    width: 100vw;
    height: 275px;
    object-fit: cover;
    margin-bottom: -40px;
}

.menusContainer {
    background-color: $background-color;
    border-radius: 40px 40px 0 0;
    padding: 30px $safeZone-sidePage;
    width: 100%;
    max-width: $desktop;
    position: relative;
    z-index: 2;
    overflow: hidden;

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .restaurant {
      max-width: $tablet;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media screen and (min-width: $tablet) {
        justify-content: center;
      }    

      &__icon {
        font-size: 2em;
      }
    }
}

.menu {
  width: 100%;
  max-width: $tablet;
  @media screen and (min-width: $tablet) {
    width: 80%;
  }
  @media screen and (min-width: $desktop) {
    width: 70%;
  }

  h3{
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
    
    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 40px;
      height: 3px; 
      background-color: $third-color;
    }
  } 
}

.dishes {
    @include myFlex(column, center, center);
    gap: 12px;
}

.orderButton {
    @include myFlex; 
    margin-top: 20px;
    margin-bottom: 20px;
}


///////////////////
//// ANIMATION ///////

$cardAnim-timing: 1500ms;
$cardAnim-delay: 100ms;

@for $i from 1 through 12 {
  .cardAnim-#{$i} {
    animation-name: cardAnim;
    animation-duration: $cardAnim-timing;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
    animation-delay: #{$cardAnim-delay * $i};
  }
}

@keyframes cardAnim {
0% {
  opacity: 0;
  transform: translateX(-110%);
}
100% {
  opacity: 1;
  transform: translateX(0);
  }
}

