.mainRestaurant {
    background-color: white;
    
    .hero__image {
        width: 100vw;
        height: 275px;
        object-fit: cover;
        margin-bottom: -40px;
    }
}


.menu {
    width: 100%;
    max-width: $desktop;
    padding: 30px $safeZone-sidePage;
    background: $background-color;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    
    // INFOS
    &__info {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include responsive($tablet) {
            justify-content: center;
        }
        &__icon {
            font-size: 1.8em;
        }
    }
    
    // CARDS 
    &__content {
        width: 100%;
        @include responsive($tablet) {
            width: 90%;
        }
        @include responsive($desktop) {
            width: 70%;
        }
        
        .content__category {
            h3{
                position: relative;
                margin-top: 40px;
                margin-bottom: 20px;
                
                &::after {
                  content: '';
                  position: absolute;
                  bottom: -5px;
                  left: 0;
                  width: 40px;
                  height: 3px; 
                  background-color: $third-color;
                }
            } 
        
            .cards {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
        }
    }
    
    // BOUTON "COMMANDER"
    &__order {
        margin-top: 30px;
        margin-bottom: 40px;    
    }
}


// ANIMATION dishCards
.content__category {
    h3 {
        animation: dishCard-Anim; 
        animation-duration: calc($dishCard-timing / 2);
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
    }
    
    @for $i from 1 through 4 { 
        .cards .dishCard:nth-child(#{$i}) {
            opacity: 0;
            animation-name: dishCard-Anim;
            animation-duration: $dishCard-timing;
            animation-fill-mode: both;
            animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            animation-delay: calc(#{$dishCard-delay} * #{$i});
        }
    }
}

@keyframes dishCard-Anim {
    0% {
        opacity: 0;
        transform: translateX(-110%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}