.button {
    display: inline-block;
    min-width: 220px;
    height: auto;
    border-radius: 25px;
    background: linear-gradient(9deg, $main-color 0%, $second-color 100%);
    box-shadow: 0px 4px 10px rgba(black, 0.25);
    
    margin-top: 30px;
    padding: 15px;
    
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: white;
    
    &:hover {
        // background: linear-gradient(9deg, $btn-color1-light 0%, $btn-color2-light 100%);
        box-shadow: 0px 4px 15px rgba(black, 0.35);
    }
}