.card {
    @include backCards(100%); //mixin fond et forme card
    @media screen and (min-width: $tablet) {
        @include backCards(48%); 
    }

    &__hero {
        position: relative;

        &__image {
            width: 100%;
            height: 170px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            object-fit: cover;
        }

        &__new {
            position: absolute;
            top : 15px;
            right: 15px;

            background-color: $third-color;
            padding: 10px 12px;
            border-radius: 2px;
            
            font-family: $main-font;
            color: $third-color-dark;
            font-weight: 500;
            font-size: 14px;
        }   
        
        .nonVisible {
            display: none;
        }
    }

    &__content {
        display: flex; 
        padding: 15px;
        padding-top: 12px;
        line-height: 1.5;
        
        .card__text {
            flex: 1;
        }
    }

    .favoriteIcon {
        font-size: 1.8em;
    }

    transition: all 200ms ease-in-out;
}

.card:hover {
    box-shadow: 0px 4px 15px rgba(black, 0.25);
    transform: scale(1.01);
} 