.dishCard {
    @include backCards(100%);
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;

    input[type="checkbox"] {
        display: none;
    }

    // TEXTES
    &__content {
        height: 100%;
        flex: 1;
        width: 50%;
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.5;
        
        &__title, 
        &__subtitle {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    
    &__price {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        line-height: 1.5;
        padding: 10px;
    }

    &__check {
        width: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $third-color;
        color: white;
        font-size: 1.8em;

        transition: width 200ms ease-in-out;
        
        .fa-circle-check {
            transform: scale(0);
        }
    }

    transition: all $check-timing-hover ease-in-out;

    &:hover {
        box-shadow: $shadow-card-dark;
        .dishCard__check {
            $check-hover: 10px;
            width: $check-hover;
        }
    }

    input[type="checkbox"]:checked ~ .dishCard__check {
        animation: check-animation $check-timing ease-in-out forwards;
        .fa-circle-check {
            animation: check-spin $check-spin-timing $check-spin-delay ease-in-out forwards;
        }
    }

    @keyframes check-animation {
        0% {
            width: $check-timing-hover;
        }
        100% {
            width: 60px;
        }
    }

    @keyframes check-spin {
        0% {
            transform: scale(0) rotate(0);
        }
        80% {
            transform: scale(1.2) rotate(1turn);
        }
        100% {
            transform: scale(1) rotate(1turn);
        }
    }
}
