.dish {
    @include backCards(100%);
    @include myFlex(row, space-between, flex-end);
    padding: 15px;

    &__content {
        padding-right: 15px;
    }



    &:hover {
        box-shadow: 0px 4px 15px rgba(black, 0.25);
    }
}