.favoriteIcon {
    position: relative;
    // width: 100%;
    padding: 0 30px;
    
    .heart-full, 
    .heart-empty {
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .heart-empty {
        color: $text-secondColor; 
        transform: translate(-50%, -50%);
    }
    .heart-full {
        background: linear-gradient(to top, $main-color, $second-color);
        background-clip: text;
        color: transparent;
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
    
    input[type="checkbox"] {
        display: none;
    }
    
    .favorite-checkbox {
        cursor: pointer;
    }
    
    input[type="checkbox"]:checked + .favorite-checkbox{
        .heart-full {
            animation: favoriteAnimation $favorite-timing ease-in-out forwards;
        }   
    }

    @keyframes favoriteAnimation {
        0% {
            transform: translate(-50%, -50%) scale(0);
            opacity: 0;
        }
        80% {
            opacity: 1;  
        }
        60%, 80% {
            transform: translate(-50%, -50%) scale(1.2);
        }
        70%, 100% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
    }
}