// SAVE 2 - FONCTIONNEL /////////////////////////////////////////////////
.favoriteIcon {
    border: solid 1px red; //////////////////// TO DELETE
    position: relative;
    width: 2em;

    .heart-full, 
    .heart-empty {
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .heart-empty {
        color: $text-secondColor; 
        transform: translate(-50%, -50%);
    }
    .heart-full {
        background: linear-gradient(to top, $main-color, $second-color);
        background-clip: text;
        color: transparent;
        transform: translate(-50%, -50%) scale(0);
    }
    
    input[type="checkbox"] {
        display: none;
    }
    
    .favorite-checkbox {
        cursor: pointer;
    }
    
    input[type="checkbox"]:checked + .favorite-checkbox{
         .heart-full {
            transform: translate(-50%, -50%) scale(1.2);
        }   
    }
}







// SAVE 1 - ORIGIN /////////////////////////////////////////////////
// .favoriteIcon {
//     position: relative;

//     .heart-full, 
//     .heart-empty {
//         position: absolute;
//         top: 50%;
//         right: 50%;
//         transform: translateY(-50%); 
//         font-size: 1em;
//     }
//     .heart-empty {
//         color: $text-secondColor; 
//     }
//     .heart-full {
//         background: linear-gradient(to top, $main-color, $second-color);
//         background-clip: text;
//         color: transparent;
//     }
    
//     input[type="checkbox"] {
//         display: none;
//     }
    
//     .favorite-checkbox {
//         cursor: pointer;
//         opacity: 0;
//     }
    
//     input[type="checkbox"]:checked + .favorite-checkbox {
//         animation-name: heartAnimation;
//         animation-duration: 150ms;
//         animation-fill-mode: forwards;
//         animation-timing-function: ease-out;
//     }
    
//     @keyframes heartAnimation {
//         0% {
//             // opacity: 0;
//             font-size: 0.1em;
//         }
//         80%, 100% {
//             opacity: 1;
//         }
//         80% {
//             font-size: 1.2em;
//         }
//         100% {
//             font-size: 1em;
//         }
//     }
// }
