loader {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 5;

    display: flex;
    flex-direction: column;
    align-items: center;

    animation: exit-loader 10ms $exitLoader-delay forwards;

    @keyframes exit-loader {
        to { 
            z-index: -2;
        }
    }

//////////// BACKGROUND ////////////////////////
.loader__backLoader {
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 1;

    animation: exit-animation $exit-timing $loaderHide-delay forwards;
    animation-timing-function: cubic-bezier(0,0,1,.2);
    
    @keyframes exit-animation {
        0%, 20% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

////////// PROGRESS_BAR ////////////////////////
    .loader__progress {
        width: 80%;
        max-width: 500px;
        height: 15px;
        position: absolute;
        bottom: 5vh;

        border: solid 1px $main-color;
        border-radius: 15px;
        overflow: hidden;
        padding: 2px;
        animation: exit-animation $exit-timing $loaderHide-delay forwards ease-in;


        &__bar {
            width: 0;
            height: 100%;
            border-radius: 20px;
            background-color: $second-color;
            transform-origin: left;
    
            animation: progressBar $loader-timing forwards cubic-bezier(.7,0,.59,1);
        }
        
        @keyframes progressBar {
            0% {
                width: 0;
                opacity: .5;
                background-color: $second-color;
            }
            15%, 20% {
                width: 12%;
            }
            40% {
                width: 46%;
            }
            52%, 60% {
                width: 75%;
            }
            70% {
                width: 79%;
            }
            100% {
                width: 100%;
                opacity: 1;
                background-color: $main-color;
            }
        }
    }

////////////////// LOGO ////////////////////////

    .loader__logo {
        display: inline-block;
        position: absolute;
        top: 40%;
        height: 12vw;
        max-height: 100px;
        object-fit: cover;
        opacity: 0;

        animation: logo-load $loader-timing forwards, logo-move $exit-timing $loaderHide-delay ease-in-out forwards;
    }

    @keyframes logo-move {
        0% {
            transform: translateY(0);
        }
        // 80% {
        //     opacity: 0;
        // }
        100% {
            transform: translateY(-42vh) scale(.2);
            opacity: 0;
        }
    }

    @keyframes logo-load {
        0% {
            opacity: .1;
        }
        20% {
            opacity: .3;    
        }
        40% {
            opacity: .6;
        }
        52% {
            opacity: .8;
        }
        70% {
            opacity: .9;
        }
        100% {
            opacity: 1;
        }
    }
}