// MODELE CARD 
@mixin backCards($width: 100%) {
    background-color: white;
    border-radius: 15px;
    box-shadow: $shadow-card-light;
    width: $width;
}

// MEDIAS QUERIES 
@mixin responsive-tablet {
    @media screen and (min-width: $tablet) {
        @content;
    }
}
@mixin responsive-desktop {
    @media screen and (min-width:$desktop) {
        @content;
    }
}
