// MODELE CARD 
@mixin backCards($width: 100%) {
    background-color: white;
    border-radius: 15px;
    box-shadow: $shadow-card-light;
    width: $width;
}

// MEDIAS QUERIES 
@mixin responsive($responsive-width) {
    @media screen and (min-width:$responsive-width) {
        @content;
    }
}


///// TESTING - ToDelet 
@mixin testing($color: red, $size: 1px) {
    border: solid $size $color;
}