// MODELE CARD 
@mixin backCards($width: 100%) {
    background-color: white;
    border-radius: 15px;
    box-shadow: $shadow-card-light;
    width: $width;
}

// MEDIAS QUERIES 
@mixin responsive($responsive-width) {
    @media screen and (min-width:$responsive-width) {
        @content;
    }
}

@mixin animBall($index, $slowUp, $slowDown) {
    @keyframes jumpinBallAnimation#{$index} {
        0% {
            transform: translateY(0) scale(1, 1);
        }
        10% {
            transform: translateY(0) scale(1.3, 0.8);
        }
        11% {
            transform: translateY(0) scale(0.7, 1.2);
            animation-timing-function: $slowUp;
        }
        39% {
            transform: translateY(-75px) scale(1);
            animation-timing-function: $slowUp;
        }
        40% {
            transform: translateY(-75px) scale(1);
        }
        41% {
            transform: translateY(-75px) scale(1);
            animation-timing-function: $slowDown;  
        }
        69% {
            transform: translateY(0px) scale(1, 1);
            animation-timing-function: $slowDown;
        }
        70% {
            transform: translateY(0) scale(1.5, 0.4);
        }
        80% {
            transform: translateY(0) scale(.8, 1.2);
        }
        90% {
            transform: translateY(0) scale(1.1, .8);
        }
        100% {
            transform: translateY(0) scale(1, 1);
        }
    }
}