// DESIGN SYSTEM ----------------------
// ------------------------------------

// COULEURS 
// principales
$main-color: red;
$second-color: blue;
$background-color: #F6F6F6;
$background-dark-color: darken($background-color, 15%);

// utilitaires



// ***** DIMENSIONS ****************************
// $radius-btn: 5px; 
// $padding-txt: 10px; 
