// TEXTES
$text-mainColor: black;
$text-mainColor-contrast: white;
$text-secondColor: #353535;

//BACKGROUND & SECTIONS
$background-color: #F7F7F7; //#F6F6F6
$form-color: darken($background-color, 10%);

// COLORS
$main-color: #9356DC; 
$main-color-light: lighten($main-color, 5%);
$second-color: #FF79DA; 
$second-color-light: lighten($second-color, 5%);
$third-color: #99E2D0;
$third-color-dark: darken(#99E2D0, 35%);

// OMBRES
$shadow-color: black;
$shadow-button-light: 2px 2px 5px rgba($shadow-color, .2);
$shadow-button-dark: 2px 2px 5px rgba($shadow-color, .4);
$shadow-card-light: 0px 4px 15px rgba($shadow-color, .15);
$shadow-card-dark: 0px 4px 15px rgba($shadow-color, .25);

// SPACES
$safeZone-section: 45px; 
$safeZone-sidePage: 5vw; // Side Page //padding R&L

// ANIMATION LOADER
$on-off:0;
$loader-timing: 1500ms * $on-off; 
$loaderFull-displayTime: 500ms * $on-off;
$loaderHide-delay: $loader-timing + $loaderFull-displayTime; 
$exit-timing: 1000ms * $on-off; 
$exitLoader-delay: $loader-timing + $loaderFull-displayTime + $exit-timing;

// ANIMATION MENU 
$dishCard-timing: 1500ms;
$dishCard-delay: 100ms;


// MEDIA QUERIES
$tablet: 768px; 
$desktop: 1024px;

// @media screen and (min-width: $tablet) {
//     $pageSideSafeZone: xxxx; 
//   }
